@model IEnumerable<BookModel>;
@{
    ViewData["Title"] = "All Books";
}

<div class="container">
    <h3 class="display-4"> All Books   </h3>
    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="img-thumbnail" src="" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text">@book.Description.</p>
                        <a asp-controller="book" asp-action="getbooks" asp-route-Id="@book.Id" asp-route-nameOfBook="@book.Title" class="btn btn-primary">View Details</a>
                        <div>
                            <small class="text-muted">@book.Author</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
